.Page {
  height: 100%;
  background-color: $color-grey-light;

  transform: translate3d(0, 0, 0);

  transition: transform .35s; 

  html.menu-active & {
    transform: translate3d(300px, 0, 0);
  }
}

.Page-header {
  position: relative;
}

.Page-post {
  height: 100%;
}

.Page-intro {
  height: 100%;
  background-color: $color-grey-light;
}


.Page-heading {
  font-size: 4em;
  font-weight: bold;
  text-transform: capitalize;
}

.Page-subheading {
  font-size: 1.4em;
  font-family: $font-serif;
}
