.Post {
  overflow: hidden;
}

.Post-title {
  text-align: center;
  font-size: 2.8em;
  line-height: 1.05em;
  font-weight: 400;
  line-height: 1.1em;

  @media #{$mq-medium} {
    font-size: 3.75em;
  }

  @media #{$mq-large} {
    font-size: 5em;
  }
}

.Post-date {
  font-size: 1.25em;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: $color-grey-light;
  font-family: $font-sans;
}

.Post-photo {
  overflow: hidden;
}

.Post-photo img {
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  display: block;
}

.Post-video iframe {
  margin: 0 auto;
  max-width: 100%;
  display: block;
}


.Post-content p {
  font-size: 1.25em;
  margin-bottom: 2em;
  line-height: 1.4em;
}

.Post-content img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.Post-tumblrActions {
  background: $color-grey-pale;
  padding-top: 7px;
}





/* Different post types */

.Post--text {


  p {

    &:first-child {
      font-size: 1.5em;
      text-align: center;
      font-style: italic;

      strong {font-weight: 200;}
    }

    &:not(:first-child) {
      margin-left: auto;
      margin-right: auto;

      @media #{$mq-medium} {
        max-width: 85%;
      }
    }
  }

  a:not(.Menu-link) {
    display: inline-block;
    border-bottom: 1px solid;
    line-height: 1em;
    transition: color 150ms;
  }
}

.mousemove {
  .Post--text {
    a:not(.Menu-link):hover {
      color: $color-yellow;
    }
  }
}