@import url("//hello.myfonts.net/count/2b5184");

@import "./../../bower_components/normalize-scss/normalize";

@import "vars";

@import "html-elements/fonts";
@import "html-elements/text";

// @import "components/box";
// @import "components/button";
// @import "components/carousel-item";
// @import "components/carousel";
// @import "components/channel";
// @import "components/chrome";
// @import "components/clearfix";
// @import "components/header";
// @import "components/loading";
// @import "components/logo";
// @import "components/island";
// @import "components/menu-toggle";
// @import "components/menu";
// @import "components/navbar";
// @import "components/notes";
// @import "components/header-open";
// @import "components/page";
// @import "components/post-pagination";
// @import "components/post";
// @import "components/search";
// @import "components/social";
// @import "components/tag-collection";
// @import "components/tag";
// @import "components/thumb-collection";
// @import "components/thumb";
// @import "components/tumblr-actions";
// @import "components/video-overlay";
// @import "components/wrapper";


html {
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
}

body {
  color: $color-grey-dark;
  font-size: 16px;
  font-family: $font-serif;
}


